// variable
// base
$bg-color-header: #ffffff;
$bg-color-brands: #cf2222;
//color-text
$text-white: #ffffff;
$text-black: black;
$color-logo: #111111;
$color-black: #111111;
$bg-hover-nav: #111111;
$bg-color-register: #e5e5e5e5;
$button-banner: #ffffff;
$color-objShoes: rgb(92, 86, 86);
$color-hoverButton-shoes: #111111;

//fs-text
$fs-normal: 16px;
$fs-title-1: 20px;
$fs-title-2: 24px;
$fs-title-featured: 25px;
$fs-title-shoes: 25px;
$fs-maintitle: 40px;
// box-shadow
$box-shadow-header: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-shoes: 0 2px 4px #c8ccd4;
$box-shadow-ButtonShoes: 0 2px 4px #6b6b6d;
